*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
} 
body{
    background-color: #0D192C;
}
main{
    margin-top: 100px;
    margin-left: 100px;
    background-color:#15263F;
    width: 350px;
    height: 596px;
    border-radius: 20px;
}
section{
    width: 80%;
    margin: auto;
    padding-top: 30px;
}
.img{
   img{
    border-radius: 10px;
   }
}
h1{
    color: white;
}
.description{
    color: #8BACD9;
}
.info{
    display: flex;
    justify-content: space-between;
}
.ethereum{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #00FFF8;
    font-size: 1em;
}
.days{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #8BACD9;
}
.creator{
    border-top: 1px solid #2E405A;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    gap: 20px;
}
.avatar{
    width: 33px;
    height: 33px;
    border: 0.5px solid white;
    border-radius: 50%;
}
.creator__author{
    color: #8BACD9 ;
}
.author{
    color: white;
}